.chat-message {
  position: relative;
  padding: 9px 20px 11px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px 4px 4px 20px;
  max-width: 425px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-right: 0;

  & + & {
    margin-top: 12px;
  }

  &:first-child {
    border-radius: 20px 20px 4px 20px;
  }

  &:last-child {
    border-radius: 20px 4px 20px 20px;
    margin-bottom: 15px;
  }

  &:hover .chat-message__button,
  &:focus .chat-message__button {
    visibility: visible;
  }

  &:focus-within .chat-message__button {
    visibility: visible;
  }
}

.chat-message__text {
  margin: 0;
}

.chat-message__name {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 16px;
  color: #046e8f;
}

.chat-message__button {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -5px;
  right: -5px;
  padding: 0;
  visibility: hidden;
  background-color: #ffffff;
  background-image: url("../img/delete-message.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  font: inherit;
  font-size: 0;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
