.chat-form {
  display: flex;
  align-items: center;
  padding: 32px 20px;
  background-color: #70a0af;
  position: relative;
}

.chat-form-input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px 70px 20px 30px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.chat-form-input::placeholder {
  color: #cccccc;
}

.chat-form-input:hover {
  border-color: #9edcff;
  outline: none;
}

.chat-form-input:focus {
  border-color: #046e8f;
  outline: none;
}

.chat-form-input,
.chat-form-button {
  border-radius: 50px;
  font: inherit;
}

.chat-form-button {
  display: flex;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  user-select: none;
  outline: none;
  touch-action: manipulation;
  cursor: pointer;
  position: absolute;
  top: auto;
  right: 25px;
  font-size: 0;
  background-color: #046e8f;
  background-image: url("../img/send.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.chat-form-button:hover {
  background-color: rgba(#046e8f, 0.7);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.15);
}

.chat-form-button:focus {
  border-color: 2px solid #9edcff;
}

.chat-form-button:active {
  background-color: #208b44;
  box-shadow: none;
}
