.chat-form {
  display: flex;
  align-items: center;
  padding: 32px 20px;
  background-color: #265681;
}

.chat-form-input {
  flex-grow: 1;
  box-sizing: border-box;
  margin-right: 16px;
  padding: 9px 20px 11px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.chat-form-input::placeholder {
  color: #cccccc;
}

.chat-form-input:hover {
  border-color: #56cf4c;
  outline: none;
}

.chat-form-input:focus {
  border-color: #9edcff;
  outline: none;
}

.chat-form-input,
.chat-form-button {
  border-radius: 50px;
  font: inherit;
}

.chat-form-button {
  flex-shrink: 0;
  padding: 9px 20px;
  color: #ffffff;
  background-color: #39b54a;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  user-select: none;
  outline: none;
  touch-action: manipulation;
  cursor: pointer;
}

.chat-form-button::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 20px;
  margin-right: 6px;
  background-image: url("icon-plane.svg");
  background-repeat: no-repeat;
}

.chat-form-button:hover {
  background-color: #56cf4c;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.15);
}

.chat-form-button:focus {
  border-color: 2px solid #9edcff;
}

.chat-form-button:active {
  background-color: #208b44;
  box-shadow: none;
}
